@font-face {
	font-family: 'password-mask';
	src: url( '../fonts/password-mask.woff' ) format( 'woff' ),
		 url( '../fonts/password-mask.woff2' ) format( 'woff2' );
	font-weight: normal;
	font-style: normal;
}

#loginform input[type=password] {
	font-family: 'password-mask';
	font-style: normal;
	font-weight: normal;
	speak: none;
	font-variant: normal;
	text-transform: none;
	letter-spacing: 0.125em;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}